USE ZabiegHarm

UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2015-05-08 05:49:57' WHERE ID = 0;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-29 01:11:05' WHERE ID = 1;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-04-04 02:25:57' WHERE ID = 5;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-03-30 12:17:45' WHERE ID = 6;
UPDATE dbo.Zabieg SET Status = 'NIE_POJAWIL_SIE',DataZakonczenia = '2016-02-23 01:43:43' WHERE ID = 10;
UPDATE dbo.Zabieg SET Status = 'NIE_POJAWIL_SIE',DataZakonczenia = '2016-03-28 12:20:27' WHERE ID = 14;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-05-25 03:37:53' WHERE ID = 17;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-23 08:02:24' WHERE ID = 18;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-12-08 09:55:53' WHERE ID = 20;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-09-06 01:38:01' WHERE ID = 21;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-02-21 10:45:11' WHERE ID = 22;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-11-13 11:22:56' WHERE ID = 23;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-04 01:02:34' WHERE ID = 26;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-17 06:17:33' WHERE ID = 30;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2015-11-13 12:08:28' WHERE ID = 31;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-06-20 10:23:42' WHERE ID = 34;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-01-11 02:28:36' WHERE ID = 36;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-07-10 05:27:27' WHERE ID = 37;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-08-14 04:28:17' WHERE ID = 41;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-05-29 07:28:18' WHERE ID = 43;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2015-09-17 04:58:40' WHERE ID = 44;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-12-21 02:49:45' WHERE ID = 46;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-07-28 06:43:57' WHERE ID = 47;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-04-28 09:12:58' WHERE ID = 51;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-02-11 02:32:58' WHERE ID = 53;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-01-05 09:28:17' WHERE ID = 58;
UPDATE dbo.Zabieg SET Status = 'NIE_POJAWIL_SIE',DataZakonczenia = '2016-03-04 11:31:42' WHERE ID = 61;
UPDATE dbo.Zabieg SET Status = 'NIE_POJAWIL_SIE',DataZakonczenia = '2016-02-05 09:18:38' WHERE ID = 63;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-01-16 11:24:13' WHERE ID = 64;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-04-16 11:06:27' WHERE ID = 67;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-09-07 06:27:10' WHERE ID = 68;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-02 02:12:26' WHERE ID = 69;
UPDATE dbo.Zabieg SET Status = 'NIE_POJAWIL_SIE',DataZakonczenia = '2016-10-13 03:31:25' WHERE ID = 70;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-08-02 10:57:28' WHERE ID = 71;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-02-13 10:47:19' WHERE ID = 72;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2015-02-20 04:20:16' WHERE ID = 73;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-12-09 03:44:52' WHERE ID = 74;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-17 06:11:37' WHERE ID = 75;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-11-25 02:34:20' WHERE ID = 76;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-05-24 05:12:13' WHERE ID = 80;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2015-10-31 07:32:49' WHERE ID = 81;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-07-18 11:50:01' WHERE ID = 82;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-05-16 10:46:08' WHERE ID = 83;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-20 04:38:33' WHERE ID = 85;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-12-17 12:43:57' WHERE ID = 86;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-05-26 08:52:35' WHERE ID = 88;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-05-27 02:31:54' WHERE ID = 90;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-09-26 02:36:21' WHERE ID = 91;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-05-12 05:22:06' WHERE ID = 92;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-12-27 12:19:58' WHERE ID = 93;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-09-30 04:12:56' WHERE ID = 94;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-11-06 01:21:59' WHERE ID = 95;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-01-15 01:09:27' WHERE ID = 97;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-10-07 09:55:56' WHERE ID = 98;
UPDATE dbo.Zabieg SET Status = 'WYKONANY',DataZakonczenia = '2016-06-27 02:27:41' WHERE ID = 99;
UPDATE dbo.Pacjent SET Nazwisko = 'Lewandowski' WHERE PESEL = '47093056756';
UPDATE dbo.Pacjent SET Nazwisko = 'Woźniak' WHERE PESEL = '53021274632';
